-- Example 0
3
OX.
...
...

FIRST
-- Example 1
3
O..
.X.
...

DRAW
-- Example 2
3
OXO
OOX
X.X

DRAW
-- Example 3
3
OOO
XX.
...

FIRST
-- Example 4
3
...
...
...

DRAW
-- Example 5
3
O..
XX.
...

INVALID
-- Example 6
3
XXX
OO.
OO.

INVALID
-- Example 7
3
OXO
X.X
OXO

FIRST
